<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>Student Manage</h1>
            <table class="table table-bordered">
                <thresh>
                    <tr>
                        <th>STT</th>
                        <th>Ten</th>
                        <th>Email</th>
                        <th>So dien thoai</th>
                        <th>Gioi tinh</th>
                        <th>Hanh dong</th>
                    </tr>
                </thresh>
                <tbody>
                    <tr v-for="student in students" :key="student.id">
                        <th>{{student.id}}</th>
                        <th>{{student.name}}</th>
                        <th>{{student.email}}</th>
                        <th>{{student.phone}}</th>
                        <th>{{student.gendel}}</th>
                        <th>
                            <button @click.prevent="deleteStudent(student)">Delete</button>
                            <button @click.prevent="updateStudent(student,$even)" v-bind:data-id="student.id">Update</button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="form__addStudent">
                <form action="" class="student__content" v-on:submit.prevent="validate">
                    <div v-if="err.length">
                        <p>Please correct the following error:</p>
                        <ul>
                            <li v-for="e in err">{{e}}</li>
                        </ul>
                    </div>
                    <h2>{{std.id ? "Update Student" : "Create Student"}}</h2>
                    <div class="form__group">
                        <label class="form__tittle" for="">Name</label>
                        <input type="text" class="form__input" v-model.trim="std.name">
                    </div>
                    <div class="form__group">
                        <label class="form__tittle" for="">Email</label>
                        <input type="email" class="form__input" v-model.trim="std.email">
                    </div>
                    <div class="form__group">
                        <label class="form__tittle" for="">Phone</label>
                        <input type="text" class="form__input" v-model.trim="std.phone">
                    </div>
                    <div class="form__group">
                        <label class="form__tittle" for="">gendel</label>
                        <input type="radio" class="input__male" value="male" v-model="std.gendel"> male
                        <input type="radio" class="input__female" value="female" v-model="std.gendel"> female
                    </div>
                    <button @click.prevent="actionStudent" class="btn btn-primary bnt__add">{{ std.id ? "Update" : "Create"}}</button>
                    <button @click.prevent="clearForm"class="btn bnt__cancer">Cancer</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>